@{
    ViewBag.Title = "Home";
}

<script src="~/ImageSlider/engine1/jquery.js"></script>
<link href="~/ImageSlider/engine1/style.css" rel="stylesheet" />

<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="~/ImageSlider/data1/images/fodrsz2.jpg" alt="" title="" id="wows1_0" /></li>
            <li><img src="~/ImageSlider/data1/images/c147c9_ce7ecaaebe7be67e9b2529e6463cc0ef.jpg_srz_2560_1600_85_22_0.50_1.20_0.00_jpg_srz.jpg" alt="c147c9_ce7ecaaebe7be67e9b2529e6463cc0ef.jpg_srz_2560_1600_85_22_0.50_1.20_0.00_jpg_srz" title="c147c9_ce7ecaaebe7be67e9b2529e6463cc0ef.jpg_srz_2560_1600_85_22_0.50_1.20_0.00_jpg_srz" id="wows1_1" /></li>
            <li><img src="~/ImageSlider/data1/images/haj_shutterstock.jpg" alt="bootstrap carousel" title="haj_shutterstock" id="wows1_2"/></li>
            <li><img src="~/ImageSlider/data1/images/erabelleszalonfodraszat11.jpg" alt="erabelle-szalon-fodraszat-1-1" title="erabelle-szalon-fodraszat-1-1" id="wows1_3" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title=""><span><img src="~/ImageSlider/data1/tooltips/fodrsz2.jpg" alt="" />1</span></a>
            <a href="#" title="~/ImageSlider/c147c9_ce7ecaaebe7be67e9b2529e6463cc0ef.jpg_srz_2560_1600_85_22_0.50_1.20_0.00_jpg_srz"><span><img src="~/ImageSlider/data1/tooltips/c147c9_ce7ecaaebe7be67e9b2529e6463cc0ef.jpg_srz_2560_1600_85_22_0.50_1.20_0.00_jpg_srz.jpg" alt="c147c9_ce7ecaaebe7be67e9b2529e6463cc0ef.jpg_srz_2560_1600_85_22_0.50_1.20_0.00_jpg_srz" />2</span></a>
            <a href="#" title="~/ImageSlider/haj_shutterstock"><span><img src="~/ImageSlider/data1/tooltips/haj_shutterstock.jpg" alt="haj_shutterstock" />3</span></a>
            <a href="#" title="~/ImageSlider/erabelle-szalon-fodraszat-1-1"><span><img src="~/ImageSlider/data1/tooltips/erabelleszalonfodraszat11.jpg" alt="erabelle-szalon-fodraszat-1-1" />4</span></a>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/ImageSlider/engine1/wowslider.js"></script>
<script type="text/javascript" src="~/ImageSlider/engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->