@{
    ViewBag.Title = "Home";
}

<script src="~/ImageSlider/engine1/jquery.js"></script>
<link href="~/ImageSlider/engine1/style.css" rel="stylesheet" />

@*I use this code to display the image slider.*@
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="~/ImageSlider/data1/images/1.jpg" alt="" title="" id="wows1_0" /></li>
            <li><img src="~/ImageSlider/data1/images/2.jpg" alt="" title="" id="wows1_1" /></li>
            <li><img src="~/ImageSlider/data1/images/3.jpg" alt="" title="" id="wows1_2" /></li>
            <li><img src="~/ImageSlider/data1/images/4.jpg" alt="" title="" id="wows1_3" /></li>
            <li><img src="~/ImageSlider/data1/images/5.jpg" alt="" title="" id="wows1_4" /></li>
            <li><img src="~/ImageSlider/data1/images/6.jpg" alt="" title="" id="wows1_5" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title=""><span><img src="~/ImageSlider/data1/tooltips/1.jpg" alt="" />1</span></a>
            <a href="#" title=""><span><img src="~/ImageSlider/data1/tooltips/2.jpg" alt="" />2</span></a>
            <a href="#" title=""><span><img src="~/ImageSlider/data1/tooltips/3.jpg" alt="" />3</span></a>
            <a href="#" title=""><span><img src="~/ImageSlider/data1/tooltips/4.jpg" alt="" />4</span></a>
            <a href="#" title=""><span><img src="~/ImageSlider/data1/tooltips/5.jpg" alt="" />5</span></a>
            <a href="#" title=""><span><img src="~/ImageSlider/data1/tooltips/6.jpg" alt="" />6</span></a>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/ImageSlider/engine1/wowslider.js"></script>
<script type="text/javascript" src="~/ImageSlider/engine1/script.js"></script>

<br />

<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Admin felhasználó, több joggal: Felhasználónév "admin," jelszó "admin".</strong>
</div>

<br />

<div class="card-columns">
    <div class="card border-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Időpontfoglalás</div>
        <div class="card-body">
            Az oldal használatával az időpontfoglalás rendkívül egyszerű.
        </div>
    </div>

    <div class="card border-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Régi foglalások</div>
        <div class="card-body">
            Lehetőséged nyílik megtekinteni a régi foglalásaidat is.
        </div>
    </div>

    <div class="card border-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Profil</div>
        <div class="card-body">
            A profil menüponton belül egyéb lehetőségeket is megtalálhatsz.
        </div>
    </div>
</div>